@model List<CarsModel>
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Status</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <a asp-controller="Service" asp-action="Create">Yeni Car Modeli yarat</a>
                            <tr>
                                <th> # </th>
                                <th> Imgurl </th>    
                                <th> Name </th>
                                <th> Description </th>
                                <th> Model </th>
                                <th> Mi </th>
                                <th> HP </th>
                                <th> Price </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CarsModel item in Model) {
                                <tr>
                                    <td> @item.Id </td>
                                    <td>
                                        <img src="~/assets/uploadedimages/@item.Imgurl" alt="image">
                                        <span class="pl-2">Henry Klein</span>
                                    </td>
                                    <td> @item.Name </td>
                                    <td> $@item.Description </td>
                                    <td> @item.Model </td>
                                    <td> @item.Mi </td>
                                    <td> @item.HP </td>
                                    <td> @item.Price </td>
                                    <td> <a asp-controller="Service" asp-action="Delete" asp-route-id="@item.Id">Delete</a>  </td>
                                    <td> <a asp-controller="Service" asp-action="Update" asp-route-id="@item.Id">Update</a>  </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>